[common]
master = root
domain = mydomain.com

[binaries]
slappasswd = /usr/bin/slappasswd
ldapadd = /usr/bin/ldapadd
ldapmodify = /usr/bin/ldapmodify

[user]
ou = People
classes = top, person, organizationalPerson, inetOrgPerson, posixAccount, shadowAccount
home = /home/{}
shell = /bin/bash

[group]
ou = Group
classes = top, posixGroup